*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-weight: 400;
  line-height: 1;
}
html {
  font-size: 62.5%;
}
.header {
  width: 100%;
  background: #e8ebf1;
  z-index: 10;
}
.header--container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 5rem;
  font-weight: bold;
  height: 120px;
  display: flex;
  align-items: center;
}
.header__logo a {
  text-decoration: none;
  color: #000;
}
.header__logo span {
  color: #2aacc8;
  font-weight: 400;
}
/* # end header */
.nav {
  display: flex;
  list-style: none;
}
.nav--item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0rem 1.4rem;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}
.nav--item:hover::before {
  content: "";
  width: 100%;
  height: 0.5rem;
  background-color: #2aacc8;
  position: absolute;
  top: 0;
  right: 0;
}
.nav .dropdown--menu {
  position: relative;
}
.nav .dropdown--menu:hover {
  background-color: #fff;
}
.sub__dropdown {
  list-style: none;
  width: 190px;
  background-color: #fff;
  position: absolute;
  left: 0;
  margin-top: 1rem;
  display: none;
  z-index: 999;
}
.sub__dropdown li {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1.2rem 1rem;
  margin: 0 0.5rem;
  color: #000;
  border-bottom: 1px solid #e7e7e7;
}
.sub__dropdown li:last-child {
  border-bottom: 5px solid #2aacc8;
  padding: 1.2rem 1.5rem;
  margin: 0;
}
.nav .dropdown--menu:hover .sub__dropdown {
  display: block;
}
/* #end nav */
.banner {
  width: 100%;
  height: 100%;
  max-height: 500px;
  background-color: #81e4ed;
  padding: 1.4rem 0rem;
}
.banner__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__box__content {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  min-height: 440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e05936;
}
.banner__box--content {
  font-size: 5rem;
  color: #fff;
  font-weight: 500;
  padding: 0rem 5rem;
  line-height: 1.2;
  max-width: 400px;
}
.banner__box--nav {
  margin-top: 14px;
  display: flex;
  gap: 14px;
}
.box--nav--item {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100rem;
  background-color: #71a3a7;
}
.banner__box--nav .active {
  background-color: #fff;
}
/* # end banner */
.posts {
  width: 100%;
  background: #e8ebf1;
}
.posts__container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  gap: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.posts__item {
}
.posts__item__header {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.posts--icon {
  background-color: #2aacc8;
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.posts--icon i {
  font-size: 2.8rem;
  color: #fff;
}
.posts--title {
  font-size: 1.4rem;
  font-weight: 500;
}
.posts__content {
  font-size: 14px;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1.6rem;
}
.post--readmore {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.post--readmore span {
  color: #2aacc8;
}
/* # end posts */

.content {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem 1rem 0rem;
  border-bottom: 1px solid #dfe1e5;
  margin-bottom: 1.4rem;
}
.content__title {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.content__title i {
  color: #2aacc8;
  font-size: 3.5rem;
  font-weight: bold;
  transform: rotate(-15deg);
}
.content__title h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
.content__nav {
  display: flex;
  gap: 1rem;
}
.content_nav--button {
  width: 2rem;
  height: 2rem;
  background-color: #81e4ed;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content_nav--button i {
  font-size: 1.4rem;
}
.content__banner {
  padding-bottom: 3.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #dfe1e5;
}
.content__banner--item {
  width: 100%;
  height: 100%;
  max-width: 220px;
  max-height: 160px;
  position: relative;
  cursor: pointer;
}
.content__banner--item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content__banner--item--overlay {
  width: 100%;
  height: 82px;
  background-color: #2aacc8;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 0.35s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.content__banner--item--overlay i {
  font-size: 3.5rem;
  color: #fff;
}
.content__banner--item:hover .content__banner--item--overlay {
  opacity: 1;
}

.content__partner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
}
.partner--header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.4rem;
}
.partner--header i {
  color: #2aacc8;
  font-size: 2.8rem;
  font-weight: bold;
}
.partner--header h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
.partner__textContent {
  font-size: 1.4rem;
  line-height: 1.8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  max-width: 440px;
}

.partner__summary {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  color: #363636;
}
.client__imgContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3rem;
}
.client__imgContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #dfe1e5;
}
.content__download {
  display: flex;
  background-color: #e8fcfe;
  width: 100%;
  height: 100%;
  min-height: 140px;
  align-items: center;
  padding: 0rem 3rem;
  border: 1px solid #81e4ed;
}
.content__download__textContent {
  font-size: 1.6rem;
  line-height: 1.8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.content__download__button {
  width: 100%;
  max-width: 300px;
}
.content__download__button button {
  height: 60px;
  width: 240px;
  background-image: linear-gradient(to bottom, #7de1ed, #66d2ed);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #2aacc8;
  border-right: 1px solid #2aacc8;
  border-left: 1px solid #2aacc8;
  box-shadow: inset 0px 5px 2px #81e4ed, inset 0px -5px 5px #2aacc8;
}
.content__download__button button i {
  font-size: 3rem;
  color: #fff;
}
.content__download__button span {
  font-size: 2rem;
  font-weight: 500;
}
/* # end content */

.footer {
  width: 100%;
  height: 330px;
  background-color: #e8ebf1;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__container {
  width: 100%;
  /* height: 100%; */
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.footer__content {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
}
.footer__content--item:nth-child(1) {
  width: 230px;
}
.footer__content--item:nth-child(5) {
  width: 160px;
}
.footer__content--item h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.footer__content--item p {
  font-size: 1.4rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  color: #565757;
}
.footer__content--item li {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  list-style: none;
  color: #565757;
}
.footer__content--link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  row-gap: 1.5rem;
}
.footer__content--link img {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.5));
}
.footer__coppyright {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.footer__coppyright_content {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #565757;
}
.footer__coppyright_logo {
  font-size: 4rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.footer__coppyright_logo span {
  font-weight: 400;
  color: #2aacc8;
}
/* # end footer */

/* # Mobile */
.nav__mobile__button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
}
.nav__mobile__button i {
  font-size: 2.4rem;
}
/* # End Mobile */

/* Reponsive Website */
@media screen and (max-width: 1023.98px) {
  .header {
    position: fixed;
    top: 0;
  }
  .nav__mobile__button {
    display: block;
  }
  .header--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  .header__logo {
    height: auto;
    font-size: 3.5rem;
  }
  .nav {
    flex-direction: column;
    width: 100%;
    height: 0px;
    overflow: hidden;
  }
  .nav--item {
    margin: 0rem;
    display: block;
    width: 100%;
  }
  .nav--item:hover::before {
    content: "";
    width: 0.5rem;
    height: 35px;
    background-color: #2aacc8;
    position: absolute;
    left: 0;
  }
  .sub__dropdown {
    position: static;
    background-color: inherit;
    transition: 0.5s;
  }
  .sub__dropdown li {
    border-bottom: none;
  }
  .sub__dropdown li:last-child {
    border: none;
  }
  /* # End Reponsive header */
  .banner {
    margin-top: 5.5rem;
  }
  .banner__box--content {
    font-size: 3rem;
  }
  .banner__box__content {
    min-height: 0px;
  }
  .banner__box__content img {
    width: 50%;
  }
  /* # End Reponsive banner */
  .posts__container {
    min-height: 250px;
    gap: 1.5rem;
  }
  .posts__item {
    padding: 0.5rem;
  }
  .posts__item__header {
    gap: 0.8rem;
  }
  /* # End Reponsive posts */
  .content__banner {
    gap: 2rem;
  }
  .partner__textContent {
    max-width: 350px;
  }
  .content__download {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  /* # End Reponsive content */
  .footer {
    height: 300px;
    padding: 1rem;
  }
  .footer__content {
    gap: 1.5rem;
  }
  /* # End Reponsive footer */
}
@media screen and (max-width: 767.98px) {
  .banner {
    padding: 1rem 0rem;
  }
  .banner__box__content {
    flex-direction: column;
    align-items: center;
  }
  .banner__box__content img {
    width: 40%;
    margin-top: 2rem;
  }
  .banner__box--content {
    text-align: center;
    margin-top: 2rem;
  }
  .banner__box--nav {
    margin-top: 0.8rem;
  }
  .box--nav--item {
    width: 0.8rem;
    height: 0.8rem;
  }
  /* # End Reponsive banner */
  .posts__container {
    grid-template-columns: repeat(2, 1fr);
    min-height: 430px;
  }
  /* # End Reponsive posts */
  .content__banner {
    grid-template-columns: repeat(2, 1fr);
  }
  .content__download {
    gap: 2rem;
  }
  /* # End Reponsive content */
  .footer__content--item:nth-child(5) .footer__content--link {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__content--item:nth-child(1) {
    width: 200px;
  }
  .footer__coppyright {
    margin-top: 1rem;
  }
  /* # End Reponsive footer */
}
@media screen and (max-width: 671px) {
  .content__partner {
    gap: 1rem;
  }
  .partner__textContent {
    max-width: 300px;
  }
  .client__imgContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .partner__textContent {
    -webkit-line-clamp: 10;
  }
  .content__download__button button {
    width: 160px;
    height: 45px;
  }
  .content__download__button button i {
    font-size: 2rem;
  }
  .content__download__button button span {
    font-size: 1.2rem;
  }
  /* # End Reponsive content */
  .footer {
    height: 500px;
  }
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 460px) {
  .partner__textContent {
    -webkit-line-clamp: 5;
  }
  .footer {
    height: 670px;
  }
  .footer__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__content--item:nth-child(1) {
    width: 150px;
  }
}
@media screen and (max-width: 412px) {
  .content__banner--item {
    max-width: 100%;
    max-height: 250px;
    background-color: green;
  }
  .swiper {
    height: 260px;
  }
  .posts__container {
    grid-template-columns: repeat(1, 1fr);
    min-height: 430px;
  }
  .content__partner {
    grid-template-columns: repeat(1, 1fr);
  }
  .partner__testimonials {
    margin-bottom: 1rem;
  }
  .partner__textContent {
    max-width: 100%;
  }
  .client__imgContent {
    margin-bottom: 0;
  }
  .content__download {
    flex-direction: column;
    padding: 1rem;
  }
  .content__download__textContent {
    text-align: center;
  }
  .footer__content--item:nth-child(1) {
    width: 100px;
  }
  .footer__coppyright_logo {
    font-size: 2.5rem;
  }
}
/* End Reponsive Website */
.swiper-wrapper {
  display: flex;
  gap: 4rem;
}
